<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-blog">
  <template>
    <style></style>
    <div>
      <h2>Visualización de posts</h2>
      <button type="button" name="btLoadPosts" on-click="loadPosts">Obtener posts</button>
      <table>
        <tr>
          <th>Identificador</th>
          <th>Título</th>
          <th>Texto</th>
          <th>Fecha</th>
          <th>Longitud</th>
          <th>Autor</th>
        </tr>
        <template is="dom-repeat" items="[[posts]]">
          <tr>
            <td>{{item._id.$oid}}</td>
            <td>{{item.titulo}}</td>
            <td>{{item.texto}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.longitud}}</td>
            <td>{{item.autor.nombre}} {{item.autor.apellido}}</td>
          </tr>
        </template>
      </table>
    </div>
    <div>
      <h2>Añadir un nuevo post</h2>
      <label>Titulo</label><input type="text" name="inTitle" value="{{post.titulo::input}}"><BR>
      <label>Fecha</label><input type="date" name="inDate" disabled value="[[fecha]]"><BR>
      <label>Autor</label><input type="text" name="inName" value="{{post.autor.nombre::input}}"><input type="text" name="inLastName" value="{{post.autor.apellido::input}}"><BR>
      <label>Texto</label><textarea name="inTextArea" rows="4" cols="80" value={{post.texto::input}}> </textarea>
      <button type="button" name="btAddPost" on-click="addPost">Añadir nuevo post</button>
    </div>
  </template>
  <script>
    Polymer({
      is: 'my-blog',
      properties: {
        posts: Array,
        post: {
          type: Object,
          value: function() { return {"autor":{}}; }
        },
        fecha: {
          type: Date,
          value: function() { var d = new Date(); return d.toLocaleDateString();}
        }
      },
      listeners: {
      },
      loadPosts: function () {
        var URL = "https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts?apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb";
        var request = new XMLHttpRequest();
        request.open("GET", URL, false);   // (Tipo de operacion, URL a invocar, modo async [true] o sync [false])
        request.setRequestHeader("Content-Type", "application/json"); //Fijo la cabecera para ejecutar
        request.send();
        this.posts = JSON.parse(request.responseText);
      },
      addPost: function () {
        this.post.fecha = this.fecha;
        this.post.longitud = this.post.texto.length;
        var URL = "https://api.mlab.com/api/1/databases/tech-u-bootcamp/collections/posts?apiKey=cfC9AH4AebXQRi86oTVKVuP30-rd6jOb";
        var request = new XMLHttpRequest();
        request.open("POST", URL, false);   // (Tipo de operacion, URL a invocar, modo async [true] o sync [false])
        request.setRequestHeader("Content-Type", "application/json"); //Fijo la cabecera para ejecutar
        request.send(JSON.stringify(this.post));

        console.log(JSON.stringify(this.post));
      }
    })
  </script>
</dom-module>
