<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-micomponente">
  <template>
    <!-- con :host referencio a mi fragmento sino lo aplicaría al resto de componentes -->
    <style>
      :host {
        display: inline-block;
      }
    </style>
    <div><span>Mi primer componente Polymer </span></div>
    <div><span>[[greeting]]</span></div>
    <div><span>[[counter]]</span></div>
    <template is="dom-repeat" items="[[lista]]">
      <div>
        <h3>{{item.titulo}}</h3>
        <h4>{{item.texto}}</h4>
      </div>
    </template>
  </template>
  <script>
    Polymer({
      is: 'my-micomponente',
      properties: {
        greeting: String,
        counter: Number,
        lista: Array
      },
      listeners: {
        'tap': 'addup'
      },
      addup: function () {
        this.counter++;
      }
    })
  </script>
</dom-module>
